## cruft from the sketch directories
*.hex
*.o
sketch
Makefile
sketch-wrapper.cpp

## exported documentation
doc

## in this branch we like experimental data
## results

## Mac cruft
.DS_Store

## org cruft
ltxpng

## nfs cruft
.nfs*
